#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html, body, #app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  .app-main {
    position: relative;
    width: 100%;
    height: 100%;
    .el-overlay {
      position: relative!important; // 侧边栏主题设置从 Continer 弹出
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}